:root {
    --white: #FFFFFF;
    --dark-text: #161012;
    --dark-grey: #6B7376;
    --text-grey: #B6BBC1;
    --headers: #EAEAEA;
    --contact-active: #E9EBEB;
    --light-icons: #B1B1B1;
    --sent-message: #D5F9BA;
    --notification: #8EDAFC;
    --bottom:#F3EEEA;
    --body-bg: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
.wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20px ;
    padding-bottom: 20px ;
    background-image: var(--body-bg);
    font-family: 'Lato', sans-serif;
}

.img{
    width: 50px;
    height: 50px;
}

.headers{
    background-color: var(--headers);
}

.dark-text{
    color: var(--dark-text);
}

.grey-text{
    color: var(--text-grey);
}

.notification{
    background-color: var(--notification);
}

.not-icon{
    width: 60px;
    height: 60px;
    color: var(--notification);
    font-size: 1.5em;
}

.not-text{
    color: rgb(0, 0, 0,.5);
    font-size: 0.8em;
}

.search{
    background-color: rgb(251, 251, 251);
}

.light-icons{
    color: var(--light-icons);
}

.outline-none:focus{
    outline: none;
}

.contact:hover{
    background-color: rgb(0, 0, 0,.03);
}

.active{
    background-color: var(--contact-active);
}

.msg-area{
    background-image: url(/Img/mine.jpg);
}

.h-0{
    height: 0;
}

.bottom{
    background-color: var(--bottom);
}

.send-icon{
    width: 40px;
    height: 40px;
    color: white;
}

.sent{
    background-color: var(--sent-message);
}

.received{
    background-color: white;
    align-self: flex-start;
}

.hour{
    font-size: 0.6em;
    bottom:0;
    right: 0;
}

.menu{
    font-size: 0.6em;
    top:0;
    right: 0;
}
.menu-s{
    z-index: 1000;
    top:80%;
    right: 0;
    width: 200px;
}
.menu-r{
    z-index: 1000;
    top:80%;
    left: 0;
    width: 200px;
}

.rotate0{
    transform: rotate(0deg);
    transition: 1s;
}
.rotate180{
    transform: rotate(180deg);
    transition: 1s;
}

/* scroll-bars */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }
  