<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Boolzapp</title>
    <script src="https://kit.fontawesome.com/db5152b6bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app" class="wrapper">
        <div class="container h-100">
            <div class="bg-white h-100 row overflow-hidden">
                <!-- ACCOUNT-AND-CONTATS-LIST -->
                <div class=" col-12 col-md-4 p-0 h-100 d-flex flex-column border-end border-1">
                    <div class="d-flex justify-content-between py-2 px-2 headers">
                        <div class="d-flex align-items-center">
                            <div class="img rounded-circle overflow-hidden mx-2">
                                <img :src="account.avatar" :alt="account.name" class="w-100">
                            </div>
                            <div class="dark-text fw-bold">
                                {{account.name}}
                            </div>
                        </div>

                        <div class="d-flex align-items-center grey-text">
                            <i class="fa-solid fa-circle-notch mx-2"></i>
                            <i class="fa-solid fa-message mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-2"></i>

                        </div>
                    </div>
                    <div class="notification d-flex align-items-center py-2 px-2">
                        <div
                            class="not-icon rounded-circle bg-white mx-2 d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <div>
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <div class="not-text text-decoration-underline">
                                Attiva notifiche desktop
                            </div>
                        </div>
                    </div>
                    <div class="search border border-1 p-2">
                        <div class="row px-4">
                            <span class="col-1 border-0 rounded-start-2 bg-white py-2" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass light-icons"></i>
                            </span>
                            <input type="text" class=" col-11 border-0 rounded-end-2 bg-white py-2 outline-none"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class=" overflow-y-auto flex-grow-1">
                        <div v-for="(contact,index) in contacts" class="contact p-3 d-flex justify-content-between" :class="active(index)" 
                            @click="activation(index)">
                            <div class="d-flex align-items-center">
                                <div class="img rounded-circle overflow-hidden">
                                    <img :src="contacts[index].avatar" :alt="contacts[index].name" class="w-100">
                                </div>
                                <div class="px-2">
                                    <div class="fw-bold">
                                        {{contacts[index].name}}
                                    </div>
                                    <div class="grey-text">
                                        {{lastMsg(index)}}
                                    </div>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- MESSAGE-AREA -->
                <div class=" col-12 col-md-8 p-0 d-flex flex-column">
                    <div class="d-flex justify-content-between py-2 px-2 headers">
                        <div class="d-flex align-items-center">
                            <div class="img rounded-circle overflow-hidden mx-2">
                                <img :src="contacts[activeIndex].avatar" :alt="contacts[activeIndex].name"
                                    class="w-100">
                            </div>
                            <div class="dark-text fw-bold">
                                {{contacts[activeIndex].name}}
                            </div>
                        </div>

                        <div class="d-flex align-items-center grey-text">
                            <i class="fa-solid fa-magnifying-glass mx-3"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-3"></i>

                        </div>
                    </div>
                    <div class="flex-grow-1 d-flex flex-column align-items-end overflow-y-auto msg-area p-2">
                        <div v-for="(message,index) in contacts[activeIndex].messages"
                            class="p-3 rounded-3 my-2 mx-1 position-relative" :class="messageStatus(index)">
                            <div class="py-1">
                                {{message.message}}
                            </div>

                            <div class="hour position-absolute p-1 mx-1">
                                50:00
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="row px-4 bottom mx-0 py-2 align-items-center">
                            <div class="col-1 grey-text">
                                <i class="fa-regular fa-face-smile fa-xl"></i>
                            </div>

                            <input type="text" class=" col-10 border-0 rounded-2 bg-white py-2 outline-none"
                                placeholder="Scrivi un messaggio">
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <div
                                    class=" send-icon rounded-circle bg-success d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="JS/script.js"></script>
</body>

</html>